{% extends 'base.html' %}
{% load static %}

{% block title %} | マイページ{% endblock %}

{% block content %}
    <section>
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl>
                    <v-card>
                        <v-img
                            class="account-head white--text"
                            height="248px"
                            src="{% static 'img/narita_terminal.jpg' %}"
                        >
                            <v-container grid-list-xl fill-height fluid>
                                <v-layout align-center justify-center column fill-height class="account-head-profile">
                                    <v-flex xs12 align-center flexbox>
                                        <v-avatar class="account-head-avatar elevation-5">
                                            <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                                        </v-avatar>
                                     </v-flex>
                                    <v-flex xs12 align-center flexbox>
                                        <span class="account-head-username headline">{{ user.username }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                        <div style="position: relative;">
                            <v-tabs
                                dark
                                color="cyan"
                                show-arrows
                                grow
                            >
                                <v-tabs-slider color="yellow"></v-tabs-slider>

                                <v-tab v-for="i in 6" :href="'#tab-' + i" :key="i">
                                    Item {{ i }}
                                </v-tab>

                                <v-tabs-items>
                                    <v-tab-item v-for="i in 6" :id="'tab-' + i" :key="i">
                                        <v-card flat>
                                            <v-card-text>{{ text }}</v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-tabs>
                            <v-container grid-list-md>
                                <p>{{ user.username }}</p>
                                <p>{{ user.email }}</p>
                                <a href="{% url 'account_update' user.pk %}">更新</a>
                            </v-container>
                        </div>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}