{% extends 'base.html' %}
{% load static %}

{% block title %} | マイページ{% endblock %}

{% block content %}

    <v-navigation-drawer
        mobile-break-point="960"
        v-model="adminmenu"
        absolute
        app
        class="user-menu elevation-2"
    >
        <v-list dense>
            <v-list-group
                prepend-icon="person"
            >
                <v-list-tile slot="activator">
                    <v-list-tile-content>
                        <v-list-tile-title>Profile</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile href="{% url 'account_update_email' user.pk %}">
                    <v-list-tile-action>
                        <v-icon>email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Email</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile href="{% url 'account_update_intro' user.pk %}">
                    <v-list-tile-action>
                        <v-icon>notes</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Introduction</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list-group>










            <v-list-tile href="{% url 'home' %}">
                <v-list-tile-action>
                    <v-icon>person</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Profile</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile href="{% url 'airport' %}">
                <v-list-tile-action>
                    <v-icon>rate_review</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Reviews</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile href="{% url 'airport' %}">
                <v-list-tile-action>
                    <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Settings</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>

    <section class="user_detail_column_right">
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12 md12 lg12>
                <v-container grid-list-xl>
                    <v-card>
                        <v-img
                            class="account-head white--text"
                            height="248px"
                            src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
                        >
                            <v-container grid-list-xl fill-height fluid>
                                <v-layout align-center justify-center column fill-height class="account-head-profile">
                                    <v-flex xs12 align-center flexbox>
                                        <v-avatar class="account-head-avatar elevation-5">
                                            <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                                        </v-avatar>
                                     </v-flex>
                                    <v-flex xs12 align-center flexbox>
                                        <span class="account-head-username headline">{{ user.username }}</span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>




                        <v-card flat>
                            <v-card-text>
                                <v-container grid-list-xl>

{#                                    <table class="account-info-table">#}
{#                                        <tr>#}
{#                                            <th class="account-info-table-item">ユーザー名</th>#}
{#                                            <td class="account-info-table-item-info">{{ user.username }}</td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="account-info-table-item">メールアドレス</th>#}
{#                                            <td class="account-info-table-item-info">{{ user.email }} <a href="{% url 'account_update' user.pk %}">更新</a></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="account-info-table-item">自己紹介</th>#}
{#                                            <td class="account-info-table-item-info">{{ user.intro|linebreaks }} <a href="{% url 'account_update' user.pk %}">更新</a></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <th class="account-info-table-item">リンク</th>#}
{#                                            <td class="account-info-table-item-info">#}
{#                                                <a href="{{ user.url }}" target="_blank">{{ user.url }}</a> <a href="{% url 'account_update' user.pk %}">更新</a>#}
{#                                            </td>#}
{#                                        </tr>#}
{#                                    </table>#}

                                    <v-form method="post" novalidate>
                                        {% csrf_token %}
                                        {% include 'includes/update_form.html' %}
                                        <v-btn class="m-t-20" type="submit" block color="primary" large>更新</v-btn>
                                    </v-form>

                                </v-container>
                            </v-card-text>
                        </v-card>



                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>



{% endblock %}