{% extends 'base.html' %}
{% load static %}

{% block javascript-head %}{% endblock %}

{% block content %}
    <v-layout class="detail-image" style="background-image:url(/{{ object.main_image }});" align-center justify-center column wrap>
        <v-flex xs12 sm12 md12 class="detail-title">
            <v-container class="detail-title-inner">
                <h2 class="display-2">{{ object.name_ja }}</h2>
                <h3 class="headline">{{ object.name_en }}</h3>
{#                <v-layout class="detail-rate" align-center justify-start row fill-height>#}
{#                    <span class="detail-rate-title">総合レート:</span>#}
{#                    <v-rating#}
{#                        v-model="rating"#}
{#                        background-color="amber lighten-1"#}
{#                        color="amber lighten-1"#}
{#                        medium#}
{#                        dense#}
{#                        half-increments#}
{#                        readonly#}
{#                    ></v-rating>#}
{#                    <span class="detail-rate-fraction">3/5</span>#}
{#                </v-layout>#}
            </v-container>
        </v-flex>
    </v-layout>
    <v-layout justify-center row wrap fill-height>

        <v-flex xs12 sm12 md12 class="">

            <v-container>
                <v-layout align-center justify-space-between row wrap fill-height>
                    <v-flex xs12 sm12 md4 class="detail-rate-circle">
                        <p class="detail-rate-circle-total">総合</p>
                        <div class="circle"><strong></strong></div>
                        <p>2 レビュー</p>
                    </v-flex>
                    <v-flex xs12 sm12 md8 class="">
                        <div class="skillbar" data-percent="5.0">
                            <span class="skillbar-title" style="background:#00C853;">清潔さ</span>
                            <p class="skillbar-bar" style="background:#69F0AE;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="8.2">
                            <span class="skillbar-title" style="background:#00C853;">施設・設備</span>
                            <p class="skillbar-bar" style="background:#69F0AE;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="10.0">
                            <span class="skillbar-title" style="background:#00C853;">ラウンジ</span>
                            <p class="skillbar-bar" style="background:#69F0AE;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="2.5">
                            <span class="skillbar-title" style="background:#00C853;">サービス</span>
                            <p class="skillbar-bar" style="background:#69F0AE;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="1.0">
                            <span class="skillbar-title" style="background:#00C853;">アクセス</span>
                            <p class="skillbar-bar" style="background:#69F0AE;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout align-center justify-space-between row wrap fill-height class="detail-sort">
                    <v-flex xs12 sm12 md2 d-flex>
                        <v-select
                            v-model="detailsortselect"
                            :items="detailsortlist"
                            label="並び替え"
                            item-text="name"
                            item-value="abbr"
                            return-object
                        ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md3 d-flex>
                        <v-switch
                            :label="`画像・動画投稿あり`"
                            v-model="detailcheckimage"
                            color="primary"
                            class="detail-sort-image"
                        ></v-switch>
                    </v-flex>
                </v-layout>

                <v-layout align-start justify-space-between row wrap fill-height class="detail-review-review">
                    <v-flex xs12 sm12 md3 class="">
                        <v-layout align-center justify-center column fill-height class="">
                            <v-flex xs12 sm12 md12 lg12><span class="detail-review-totalrate-sub-num">3.5</span></v-flex>
                            <v-flex xs12 sm12 md12 lg12>
                                <v-avatar color="grey lighten-4" class="detail-review-author">
                                    <img src="https://cdn.vuetifyjs.com/images/john.jpg" class="detail-review-author-image" alt="avatar">
                                </v-avatar>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg12 class="">
                                <v-layout align-center justify-center column fill-height class="">
                                    <v-flex xs12 sm12 md12 lg12 class="detail-review-author-name">テスト太郎</v-flex>
                                    <v-flex xs12 sm12 md12 lg12 class="">
                                        <div class="detail-review-author-social">
                                            <v-btn icon class="detail-review-author-social-button light-blue--text">
                                                <v-icon small>fab fa-twitter</v-icon>
                                            </v-btn>
                                            <v-btn icon class="detail-review-author-social-button blue--text text--darken-4">
                                                <v-icon small>fab fa-facebook-f</v-icon>
                                            </v-btn>
                                            <v-btn icon class="detail-review-author-social-button red--text">
                                                <v-icon small>fab fa-youtube</v-icon>
                                            </v-btn>
                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 sm12 md9 class="detail-review-right">
                        <h4 class="title font-weight-bold detail-review-header-inner">タイトルテスト　タイトル</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <v-flex xs12 sm12 md12>
                            <v-container class="detail-review-gallery" grid-list-sm fluid>
                              <v-layout row wrap>
                                <v-flex
                                  v-for="n in 6"
                                  :key="n"
                                  xs3
                                  sm2
                                  d-flex
                                >
                                  <v-card flat tile class="d-flex">
                                    <v-img
                                      :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                                      :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                                      aspect-ratio="1"
                                      class="grey lighten-2"
                                    >
                                      <v-layout
                                        slot="placeholder"
                                        fill-height
                                        align-center
                                        justify-center
                                        ma-0
                                      >
                                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                      </v-layout>
                                    </v-img>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-container>
                        </v-flex>
                        <v-layout align-start justify-space-between row fill-height>
                            <div>投稿日:<span class="">2018年9月23日 9:33</span></div>
                            <v-btn outline color="indigo" class="m-t-0 m-r-0 m-b-0 m-l-0">参考になった</v-btn>
                        </v-layout>
                    </v-flex>
                </v-layout>

                <v-layout align-start justify-start row wrap fill-height class="detail-review-review">
                    <v-flex xs12 sm12 md3 class="">
                        <v-layout align-center justify-center column fill-height class="">
                            <v-flex xs12 sm12 md12 lg12><span class="detail-review-totalrate-sub-num">3.5</span></v-flex>
                            <v-flex xs12 sm12 md12 lg12 class="">
                                <v-avatar color="grey lighten-4" class="detail-review-author">
                                    <img src="https://cdn.vuetifyjs.com/images/john.jpg" class="detail-review-author-image" alt="avatar">
                                </v-avatar>
                            </v-flex>
                            <v-flex xs12 sm12 md12 lg12 class="">
                                <v-layout align-center justify-center column fill-height class="">
                                    <v-flex xs12 sm12 md12 lg12 class="detail-review-author-name">テスト太郎</v-flex>
                                    <v-flex xs12 sm12 md12 lg12 class="">
                                        <div class="detail-review-author-social">
                                            <v-btn icon class="detail-review-author-social-button light-blue--text">
                                                <v-icon small>fab fa-twitter</v-icon>
                                            </v-btn>
                                            <v-btn icon class="detail-review-author-social-button blue--text text--darken-4">
                                                <v-icon small>fab fa-facebook-f</v-icon>
                                            </v-btn>
                                            <v-btn icon class="detail-review-author-social-button red--text">
                                                <v-icon small>fab fa-youtube</v-icon>
                                            </v-btn>
                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12 sm12 md9 class="detail-review-right">
                        <h4 class="title font-weight-bold detail-review-header-inner">タイトルテスト　タイトル</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <v-flex xs12 sm12 md12>
                            <v-container class="detail-review-gallery" grid-list-sm fluid>
                              <v-layout row wrap>
                                <v-flex
                                  v-for="n in 6"
                                  :key="n"
                                  xs3
                                  sm2
                                  d-flex
                                >
                                  <v-card flat tile class="d-flex">
                                    <v-img
                                      :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
                                      :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                                      aspect-ratio="1"
                                      class="grey lighten-2"
                                    >
                                      <v-layout
                                        slot="placeholder"
                                        fill-height
                                        align-center
                                        justify-center
                                        ma-0
                                      >
                                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                      </v-layout>
                                    </v-img>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-container>
                        </v-flex>
                        <v-layout align-start justify-space-between row fill-height>
                            <div>投稿日:<span class="">2018年9月23日 9:33</span></div>
                            <v-btn outline color="indigo" class="m-t-0 m-r-0 m-b-0 m-l-0">参考になった</v-btn>
                        </v-layout>
                    </v-flex>
                </v-layout>


            </v-container>
        </v-flex>
    </v-layout>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/skill.bars.jquery.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script>
        $('.skillbar').skillBars({
            from: 0,
            speed: 2000,
            interval: 100,
        });

        $('.circle').circleProgress({
            value: 0.5,
            size: 120,
            startAngle:Math.PI / -2,
            fill: {
                gradient: ["red", "orange"]
            }
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('strong').html((Math.floor(stepValue * 100) / 10).toFixed(1));
        });
    </script>
{% endblock %}