@charset "UTF-8";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }
html {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro",'Hiragino Kaku Gothic Pro', 'FontAwesome', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
  box-sizing: border-box;
  color: #666; }

*, *:before, *:after {
  box-sizing: inherit; }

.list-no-style {
  list-style: none; }

.link-no-decoration {
  text-decoration: none; }

.link-color__gray01 {
  color: #aaa;
  transition: all  0.1s ease; }
  .link-color__gray01:hover {
    color: #fff; }

.footer-text-color_gray01 {
  color: #aaa; }

.m-t-0 {
  margin-top: 0px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.m-l-25 {
  margin-left: 25px !important; }

.p-l-25 {
  padding-left: 25px !important; }

.m-r-25 {
  margin-right: 25px !important; }

.p-r-25 {
  padding-right: 25px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.p-t-35 {
  padding-top: 35px !important; }

.m-b-35 {
  margin-bottom: 35px !important; }

.p-b-35 {
  padding-bottom: 35px !important; }

.m-l-35 {
  margin-left: 35px !important; }

.p-l-35 {
  padding-left: 35px !important; }

.m-r-35 {
  margin-right: 35px !important; }

.p-r-35 {
  padding-right: 35px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.p-t-45 {
  padding-top: 45px !important; }

.m-b-45 {
  margin-bottom: 45px !important; }

.p-b-45 {
  padding-bottom: 45px !important; }

.m-l-45 {
  margin-left: 45px !important; }

.p-l-45 {
  padding-left: 45px !important; }

.m-r-45 {
  margin-right: 45px !important; }

.p-r-45 {
  padding-right: 45px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.m-l-50 {
  margin-left: 50px !important; }

.p-l-50 {
  padding-left: 50px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.p-r-50 {
  padding-right: 50px !important; }

.m-t-55 {
  margin-top: 55px !important; }

.p-t-55 {
  padding-top: 55px !important; }

.m-b-55 {
  margin-bottom: 55px !important; }

.p-b-55 {
  padding-bottom: 55px !important; }

.m-l-55 {
  margin-left: 55px !important; }

.p-l-55 {
  padding-left: 55px !important; }

.m-r-55 {
  margin-right: 55px !important; }

.p-r-55 {
  padding-right: 55px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.p-t-60 {
  padding-top: 60px !important; }

.m-b-60 {
  margin-bottom: 60px !important; }

.p-b-60 {
  padding-bottom: 60px !important; }

.m-l-60 {
  margin-left: 60px !important; }

.p-l-60 {
  padding-left: 60px !important; }

.m-r-60 {
  margin-right: 60px !important; }

.p-r-60 {
  padding-right: 60px !important; }

.m-t-65 {
  margin-top: 65px !important; }

.p-t-65 {
  padding-top: 65px !important; }

.m-b-65 {
  margin-bottom: 65px !important; }

.p-b-65 {
  padding-bottom: 65px !important; }

.m-l-65 {
  margin-left: 65px !important; }

.p-l-65 {
  padding-left: 65px !important; }

.m-r-65 {
  margin-right: 65px !important; }

.p-r-65 {
  padding-right: 65px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.p-t-70 {
  padding-top: 70px !important; }

.m-b-70 {
  margin-bottom: 70px !important; }

.p-b-70 {
  padding-bottom: 70px !important; }

.m-l-70 {
  margin-left: 70px !important; }

.p-l-70 {
  padding-left: 70px !important; }

.m-r-70 {
  margin-right: 70px !important; }

.p-r-70 {
  padding-right: 70px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.p-t-75 {
  padding-top: 75px !important; }

.m-b-75 {
  margin-bottom: 75px !important; }

.p-b-75 {
  padding-bottom: 75px !important; }

.m-l-75 {
  margin-left: 75px !important; }

.p-l-75 {
  padding-left: 75px !important; }

.m-r-75 {
  margin-right: 75px !important; }

.p-r-75 {
  padding-right: 75px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.p-t-80 {
  padding-top: 80px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.p-b-80 {
  padding-bottom: 80px !important; }

.m-l-80 {
  margin-left: 80px !important; }

.p-l-80 {
  padding-left: 80px !important; }

.m-r-80 {
  margin-right: 80px !important; }

.p-r-80 {
  padding-right: 80px !important; }

.m-t-85 {
  margin-top: 85px !important; }

.p-t-85 {
  padding-top: 85px !important; }

.m-b-85 {
  margin-bottom: 85px !important; }

.p-b-85 {
  padding-bottom: 85px !important; }

.m-l-85 {
  margin-left: 85px !important; }

.p-l-85 {
  padding-left: 85px !important; }

.m-r-85 {
  margin-right: 85px !important; }

.p-r-85 {
  padding-right: 85px !important; }

.m-t-90 {
  margin-top: 90px !important; }

.p-t-90 {
  padding-top: 90px !important; }

.m-b-90 {
  margin-bottom: 90px !important; }

.p-b-90 {
  padding-bottom: 90px !important; }

.m-l-90 {
  margin-left: 90px !important; }

.p-l-90 {
  padding-left: 90px !important; }

.m-r-90 {
  margin-right: 90px !important; }

.p-r-90 {
  padding-right: 90px !important; }

.m-t-95 {
  margin-top: 95px !important; }

.p-t-95 {
  padding-top: 95px !important; }

.m-b-95 {
  margin-bottom: 95px !important; }

.p-b-95 {
  padding-bottom: 95px !important; }

.m-l-95 {
  margin-left: 95px !important; }

.p-l-95 {
  padding-left: 95px !important; }

.m-r-95 {
  margin-right: 95px !important; }

.p-r-95 {
  padding-right: 95px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.p-t-100 {
  padding-top: 100px !important; }

.m-b-100 {
  margin-bottom: 100px !important; }

.p-b-100 {
  padding-bottom: 100px !important; }

.m-l-100 {
  margin-left: 100px !important; }

.p-l-100 {
  padding-left: 100px !important; }

.m-r-100 {
  margin-right: 100px !important; }

.p-r-100 {
  padding-right: 100px !important; }

[v-cloak] {
  display: none; }

.display-none {
  display: none; }

.head-nav {
  position: fixed;
  z-index: 100001; }

.head-nav-menu .head-nav-menu-item .v-btn__content {
  color: #bdbdbd; }

.head-nav-menu .head-nav-menu-item:hover .v-btn__content {
  color: #000; }

.head-nav-menu .active .v-btn__content {
  color: #000; }

.nav-logo {
  height: 80%; }
  .nav-logo img {
    width: auto;
    height: 100%; }

.nav-drawer {
  z-index: 100000;
  margin-top: 80px !important;
  max-height: calc(100% - 80px) !important; }

.v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
  height: 60px !important; }

.top-search {
  position: relative;
  height: 100vh;
  padding: 0;
  overflow: hidden; }
  .top-search:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/cover.png) center center, #000;
    opacity: .8; }

.top-search-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.top-search-title {
  z-index: 10;
  transition: all  0.1s ease; }
  @media only screen and (max-width: 599px) {
    .top-search-title {
      font-size: 34px !important; } }

@media only screen and (min-width: 960px) {
  .top-search-form-wrap {
    align-items: flex-start;
    flex-direction: row; } }
@media only screen and (max-width: 959px) {
  .top-search-form-wrap {
    align-items: center;
    flex-direction: column; } }

.top-search-form {
  width: 100%;
  z-index: 10; }

.top-search-form-input-over {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end; }

.top-search-form-input {
  width: 100%; }
  @media only screen and (min-width: 960px) {
    .top-search-form-input {
      min-width: 400px;
      max-width: 400px; } }

.top-search-form-search {
  height: 48px;
  margin: 0 8px;
  border: 2px solid currentColor !important; }

.top-search-notfind {
  z-index: 10; }

.top-num-counter {
  width: 100%; }

.v-select__slot {
  position: relative; }

.containerwrap {
  position: relative;
  margin-top: 80px; }

.footer-inner {
  width: 100%;
  background-color: #1f1f1f !important; }

.footer-copyright {
  padding: 0 24px !important; }
  @media only screen and (max-width: 959px) {
    .footer-copyright {
      padding: 0 16px !important; } }

.airport_map {
  height: 100%; }
  @media only screen and (min-width: 960px) {
    .airport_map {
      height: calc(100vh - 80px); } }

.airport-googlemap {
  height: 50vh; }
  @media only screen and (min-width: 960px) {
    .airport-googlemap {
      height: 100%; } }

.airport-result {
  overflow: hidden; }

.airport-result-container {
  height: 100%;
  overflow-y: auto; }
  @media only screen and (min-width: 960px) {
    .airport-result-container {
      overflow-y: scroll; } }

@media only screen and (min-width: 1264px) {
  .airport-list-wrapper .v-content__wrap .container {
    max-width: 100%; } }
@media only screen and (min-width: 960px) {
  .airport-list-wrapper .v-content__wrap .container {
    max-width: 100%; } }

.airport-list-item {
  transition: all  0.1s ease; }
  @media only screen and (max-width: 599px) {
    .airport-list-item {
      width: 100%; } }
  @media only screen and (min-width: 600px) {
    .airport-list-item {
      width: 50%;
      max-width: 50%; } }
  .airport-list-item .v-card__title {
    padding: 16px 16px 0 16px !important; }
    .airport-list-item .v-card__title .v-rating {
      margin-left: -8px; }

.airport-list-item-view-text {
  z-index: 13; }
  .airport-list-item-view-text .title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease; }

.airport-list-item-link .v-image__image--cover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease; }
.airport-list-item-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  z-index: 12; }

.airport-list-item-link-a {
  display: block;
  width: 100%;
  height: 100%; }

.airport-list-item-link:hover .v-image__image--cover {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1.1, 1.1); }
.airport-list-item-link:hover .airport-list-item-view-text .headline {
  bottom: 24px;
  left: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease; }

.airport-list-container {
  padding: 24px 0 !important; }

.airport-list-item-view {
  padding: 0 !important; }

.airport-list-item-view-favorite {
  color: #e83c51 !important; }

.airport-filter .v-text-field--outline .v-input__slot {
  border: 1px solid rgba(0, 0, 0, 0.24) !important; }
.airport-filter .v-text-field--outline .v-input__slot:hover {
  border: 1px solid rgba(0, 0, 0, 0.24) !important; }

.airport-filter-reset {
  margin: 0 !important; }

.detail-image {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .detail-image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 380px;
    opacity: .8;
    background-image: linear-gradient(to bottom, transparent 0%, #000000 90%);
    z-index: 10; }

.detail-title {
  position: relative;
  width: 100%;
  color: #fff;
  z-index: 11; }

.detail-title-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.detail-rate {
  margin-top: 20px; }

.detail-rate-title {
  font-size: 14px;
  font-weight: bold; }

.detail-rate-fraction {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px; }

.detail-rate-circle {
  text-align: center; }

.detail-rate-circle-total {
  font-size: 28px;
  font-weight: 400; }

.detail-sort {
  padding: 10px 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.detail-sort-image .v-input__slot {
  justify-content: flex-end; }

.detail-review {
  padding-top: 0 !important; }

.detail-review-wrapper {
  margin-bottom: 10px; }

.detail-review-left {
  padding: 0 10px 0 0; }

.detail-review-right {
  padding-top: 14px; }

.detail-review-header {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-left: -8px; }

.detail-review-header-inner {
  margin: 0 0 10px 0; }
  @media only screen and (max-width: 600px) {
    .detail-review-header-inner {
      width: 100%;
      text-overflow: ellipsis !important;
      overflow: hidden; } }

.detail-review-header-list {
  line-height: 1;
  padding: 0; }
  @media only screen and (min-width: 600px) {
    .detail-review-header-list {
      margin: 5px 0 0 0 !important; } }

.detail-review-header-list-item {
  color: #999; }
  @media only screen and (max-width: 600px) {
    .detail-review-header-list-item {
      font-size: 11px; } }
  .detail-review-header-list-item:not(:first-child):before {
    content: "·";
    margin: 0 7px; }

.v-expansion-panel__container--active .panel-active-display-none {
  display: none; }

@media only screen and (max-width: 600px) {
  .v-expansion-panel__container--active .detail-review-header-inner {
    text-overflow: initial !important;
    white-space: inherit; } }

.detail-review-totalrate {
  padding: 20px;
  font-size: 40px;
  font-weight: bold; }

.detail-review-rate {
  width: 100%;
  padding: 4px 10px;
  border-top: 1px solid #fff; }

.detail-review-totalrate-sub-num {
  color: #00C853;
  font-size: 36px; }

.detail-review-review {
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .detail-review-review:not(:last-child) {
    margin-bottom: 30px; }

.detail-review-gallery {
  padding: 24px 0 !important; }

.detail-review-rate-right {
  text-align: right; }

.detail-review-button-wrap {
  margin-top: 10px; }
  .detail-review-button-wrap .detail-review-button {
    width: 100%;
    margin: 0 !important; }
  @media only screen and (min-width: 1264px) {
    .detail-review-button-wrap .detail-review-button-wrap-sec:first-child {
      padding: 0 5px 0 0 !important; } }
  @media only screen and (min-width: 1264px) {
    .detail-review-button-wrap .detail-review-button-wrap-sec:last-child {
      padding: 0 0 0 5px !important; } }
  @media only screen and (max-width: 1263px) {
    .detail-review-button-wrap .detail-review-button-wrap-sec:last-child {
      margin: 10px 0 0 0 !important; } }

@media only screen and (max-width: 1263px) {
  .detail-review-button-middle {
    margin: 10px 0; } }

.detail-review-helpful {
  text-align: center;
  margin-top: 10px; }

.detail-review-helpful-button {
  width: 100%; }

.detail-review-helpful-num {
  font-size: 16px;
  margin: 0 10px; }

@media only screen and (max-width: 959px) {
  .detail-review-author-intro {
    margin: 10px 0 0 0; } }

.login-wrapper {
  margin: 60px auto; }
  @media only screen and (min-width: 600px) {
    .login-wrapper {
      min-width: 600px;
      max-width: 600px;
      margin: 100px auto; } }

.login-link {
  list-style: none; }

.login-alert {
  color: #f44336; }

.form-text-alert-wrapper {
  margin-left: 33px; }

.form-text-alert {
  color: #ff5252 !important; }

.user-menu .v-list__group__header {
  height: 60px !important; }

@media only screen and (min-width: 960px) {
  .user_detail_column_right {
    padding-left: 300px; } }

.user-detail-snackbar {
  z-index: 100002 !important; }

.account-head:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 12; }

.account-head-profile {
  position: relative;
  z-index: 13; }

.account-head-avatar {
  width: 100px !important;
  height: 100px !important;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  z-index: 13; }

.account-info-table {
  width: 100%; }

.account-info-table-item {
  width: 30%;
  text-align: left;
  padding: 10px 5px;
  vertical-align: top; }

.account-info-table-item-info {
  width: 70%;
  text-align: left;
  padding: 10px 5px;
  vertical-align: top; }

.detail-review-author-wrapper {
  margin-top: 10px; }

.detail-review-author-section {
  display: flex; }

.detail-review-author {
  width: 80px !important;
  height: 80px !important; }

.detail-review-author-overview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px; }

.detail-review-author-name {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600; }

.detail-review-author-social {
  margin: 6px 0 0 0; }

.detail-review-author-social-button {
  width: 24px;
  height: 24px;
  margin: 0; }

.detail-review-icon .v-icon {
  font-size: inherit; }

.terms-daialog {
  width: 90%;
  height: 50vh; }
  @media only screen and (min-width: 600px) {
    .terms-daialog {
      width: 60%;
      min-width: 600px;
      max-width: 600px; } }

.skillbar {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px; }

.skillbar-bar {
  height: 35px;
  width: 0;
  background: #6adcfa;
  border-radius: 3px;
  display: inline-block; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold; }

.circle {
  width: 120px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2; }

.circle canvas {
  vertical-align: top; }

.circle strong {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px; }

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal; }

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px; }

.border-bottom-none {
  border-bottom: none !important; }

/*# sourceMappingURL=style.css.map */
