{% load static %}

<v-toolbar class="white head-nav" height="80px">
    <v-toolbar-title class="nav-logo"><img src="{% static 'img/logo.png' %}" alt=""></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down head-nav-menu">
        <v-btn flat class="head-nav-menu-item{% if request.path == '/' %} active{% endif %}" href="{% url 'home' %}">Home</v-btn>
        <v-btn flat class="head-nav-menu-item{% if request.path|slice:'9' == '/airport/' %} active{% endif %}" href="{% url 'airport' %}">Airport</v-btn>
        <v-btn flat class="head-nav-menu-item">News</v-btn>
        {% if user.is_authenticated %}
            <v-btn flat class="head-nav-menu-item{% if request.path|slice:':9' == '/account/' %} active{% endif %}" href="{% url 'account_update_email' user.pid.hex %}">Mypage</v-btn>
            <v-btn flat class="head-nav-menu-item{% if request.path == '/logout/' %} active{% endif %}" href="{% url 'logout' %}">Logout</v-btn>
        {% else %}
            <v-btn flat class="head-nav-menu-item{% if request.path == '/login/' %} active{% endif %}" href="{% url 'login' %}">Login</v-btn>
        {% endif %}
    </v-toolbar-items>
    <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
</v-toolbar>


<v-navigation-drawer v-model="drawer" fixed temporary class="nav-drawer hidden-md-and-up">
    <v-list dense>
        <v-list-tile href="{% url 'home' %}">
            <v-list-tile-action>
                <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>HOME</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile href="{% url 'airport' %}">
            <v-list-tile-action>
                <v-icon>local_airport</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>AIRPORT</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
            <v-list-tile-action>
                <v-icon>notes</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>NEWS</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        {% if user.is_authenticated %}
            <v-list-tile href="{% url 'account_update_email' user.pid.hex %}">
                <v-list-tile-action>
                    <v-icon>account_circle</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>MYPAGE</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        {% else %}
            <v-list-tile href="{% url 'login' %}">
                <v-list-tile-action>
                    <v-icon>notes</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>LOGIN</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        {% endif %}
    </v-list>

    <v-divider></v-divider>

    <v-list>
        <v-list-tile>
            <v-list-tile-action>
                <v-icon>mail_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>CONTACT</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</v-navigation-drawer>