
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="login-alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
<v-text-field
    v-model="email"
    label="{% if field.id_for_label == 'id_username' %}メールアドレス{% else %}パスワード{% endif %}"
    prepend-icon="{% if field.id_for_label == 'id_username' %}mail{% else %}lock{% endif %}"
    {% if field.id_for_label == 'id_password' %}type="password"{% endif %}
    name="{% if field.id_for_label == 'id_username' %}username{% else %}password{% endif %}"
    id="{% if field.id_for_label == 'id_username' %}id_username{% else %}id_password{% endif %}"
    required
    :rules="loginRules"
></v-text-field>
{#            <div class="uk-text-small">#}
{#                {% for error in field.errors %}#}
{#                    <p class="uk-text-danger">{{ error }}</p>#}
{#                {% endfor %}#}
{#            {% if field.help_text %}#}
{#                    {{ field.help_text|safe }}#}
{#            {% endif %}#}
{#            </div>#}
{% endfor %}