
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="login-alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
<v-text-field
    label="メールアドレス"
    prepend-icon="mail"
    name="email"
    id="id_email"
    required
></v-text-field>
            <div class="form-text-alert-wrapper">
                {% for error in field.errors %}
                    <p class="form-text-alert">{{ error }}</p>
                {% endfor %}
            {% if field.help_text %}
                    {{ field.help_text|safe }}
            {% endif %}
            </div>
{% endfor %}