
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="login-alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
{#    <p>{{ field.id_for_label }}</p>#}
{#    <p>{{ field.value }}</p>#}
    {% if field.id_for_label == 'id_intro' %}
        <v-textarea
          label="自己紹介"
          value="{{ field.value }}"
          name="{% if field.id_for_label == 'id_intro' %}intro{% endif %}"
        ></v-textarea>
    {% elif field.id_for_label == 'id_review_text' %}
        <v-textarea
          label="レビュー"
          value="{{ field.value }}"
          name="{% if field.id_for_label == 'id_review_text' %}review_text{% endif %}"
        ></v-textarea>
    {% elif field.id_for_label == 'id_airport' %}
        <v-autocomplete
            :items="airports"
            v-model="reviewid"
            item-text="name_ja"
            item-value="id"
            id="id_airport"
            name="airport"
            label="空港名"
            autocomplete
            no-data-text="空港が見つかりません"
            prepend-icon="local_airport"
        ></v-autocomplete>
{#        {{ field }}#}
    {% elif field.id_for_label == 'id_rate_clean' %}
        <v-subheader class="pl-0">清潔さ</v-subheader>
        <v-slider
            v-model="zoom.clean"
            id="id_rate_clean"
            item-value="zoom.clean"
            name="rate_clean"
            :min="1"
            :max="5"
            step="1"
            ticks="always"
            tick-size="3"
            color="red"
            thumb-label="always"
            :thumb-size="24"
            append-icon="fa-plus-circle"
            prepend-icon="fa-minus-circle"
            class="detail-review-icon"
            @click:append="zoomIn('clean')"
            @click:prepend="zoomOut('clean')"
        ></v-slider>
{#        <v-select#}
{#            :items="reviewselectnum"#}
{#            v-model="testid"#}
{#            item-text="reviewselectnum"#}
{#            item-value="reviewselectnum"#}
{#            id="id_rate_clean"#}
{#            name="rate_clean"#}
{#            label="清潔さ"#}
{#        ></v-select>#}



{#        <p>{{ field }}</p>#}
    {% elif field.id_for_label == 'id_rate_facility' %}
        <v-subheader class="pl-0">施設・設備</v-subheader>
{#        <v-slider#}
{#            v-model="zoom.facility"#}
{#            :max="10"#}
{#            step="1"#}
{#            ticks="always"#}
{#            tick-size="3"#}
{#            color="red"#}
{#            thumb-label="always"#}
{#            :thumb-size="24"#}
{#            append-icon="fa-plus-circle"#}
{#            prepend-icon="fa-minus-circle"#}
{#            class="detail-review-icon"#}
{#            @click:append="zoomIn('facility')"#}
{#            @click:prepend="zoomOut('facility')"#}
{#        ></v-slider>#}
        <p>{{ field }}</p>
    {% elif field.id_for_label == 'id_rate_lounge' %}
        <v-subheader class="pl-0">ラウンジ</v-subheader>
{#        <v-slider#}
{#            v-model="zoom.lounge"#}
{#            :max="10"#}
{#            step="1"#}
{#            ticks="always"#}
{#            tick-size="3"#}
{#            color="red"#}
{#            thumb-label="always"#}
{#            :thumb-size="24"#}
{#            append-icon="fa-plus-circle"#}
{#            prepend-icon="fa-minus-circle"#}
{#            class="detail-review-icon"#}
{#            @click:append="zoomIn('lounge')"#}
{#            @click:prepend="zoomOut('lounge')"#}
{#        ></v-slider>#}
        <p>{{ field }}</p>
    {% elif field.id_for_label == 'id_rate_service' %}
        <v-subheader class="pl-0">サービス</v-subheader>
{#        <v-slider#}
{#            v-model="zoom.service"#}
{#            :max="10"#}
{#            step="1"#}
{#            ticks="always"#}
{#            tick-size="3"#}
{#            color="red"#}
{#            thumb-label="always"#}
{#            :thumb-size="24"#}
{#            append-icon="fa-plus-circle"#}
{#            prepend-icon="fa-minus-circle"#}
{#            class="detail-review-icon"#}
{#            @click:append="zoomIn('service')"#}
{#            @click:prepend="zoomOut('service')"#}
{#        ></v-slider>#}
        <p>{{ field }}</p>
    {% elif field.id_for_label == 'id_rate_access' %}
        <v-subheader class="pl-0">アクセス</v-subheader>
{#        <v-slider#}
{#            v-model="zoom.access"#}
{#            :max="10"#}
{#            step="1"#}
{#            ticks="always"#}
{#            tick-size="3"#}
{#            color="red"#}
{#            thumb-label="always"#}
{#            :thumb-size="24"#}
{#            append-icon="fa-plus-circle"#}
{#            prepend-icon="fa-minus-circle"#}
{#            class="detail-review-icon"#}
{#            @click:append="zoomIn('access')"#}
{#            @click:prepend="zoomOut('access')"#}
{#        ></v-slider>#}
        <p>{{ field }}</p>
    {% else %}
        <v-text-field
            value="{{ field.value }}"
            {# -----------------------ラベル分岐開始----------------------- #}
            {% if field.id_for_label == 'id_username' %}
                label="ユーザー名"
            {% elif field.id_for_label == 'id_email' %}
                label="メールアドレス"
            {% elif field.id_for_label == 'id_facebook' %}
                label="Facebook"
            {% elif field.id_for_label == 'id_twitter' %}
                label="Twitter"
            {% elif field.id_for_label == 'id_youtube' %}
                label="Youtube"
            {% elif field.id_for_label == 'id_instagram' %}
                label="Instagram"
            {% elif field.id_for_label == 'id_password1' %}
                label="パスワード"
            {% elif field.id_for_label == 'id_password2' %}
                label="パスワード確認"
            {% elif field.id_for_label == 'id_review_title' %}
                label="タイトル"
            {% endif %}
            {# -----------------------ラベル分岐終了----------------------- #}
            {# -----------------------アイコン分岐開始----------------------- #}
            {% if field.id_for_label == 'id_username' %}
                prepend-icon="people"
            {% elif field.id_for_label == 'id_email' %}
                prepend-icon="mail"
            {% elif field.id_for_label == 'id_facebook' %}
                prepend-icon="fab fa-facebook"
            {% elif field.id_for_label == 'id_twitter' %}
                prepend-icon="fab fa-twitter"
            {% elif field.id_for_label == 'id_youtube' %}
                prepend-icon="fab fa-youtube"
            {% elif field.id_for_label == 'id_instagram' %}
                prepend-icon="fab fa-instagram"
            {% elif field.id_for_label == 'id_password1' %}
                prepend-icon="lock"
            {% elif field.id_for_label == 'id_password2' %}
                prepend-icon="lock"
            {% elif field.id_for_label == 'id_review_title' %}
                prepend-icon="subtitles"
            {% endif %}
            {# -----------------------アイコン分岐終了----------------------- #}
            {# -----------------------name分岐終了----------------------- #}
            {% if field.id_for_label == 'id_username' %}
                name="username"
            {% elif field.id_for_label == 'id_email' %}
                name="email"
            {% elif field.id_for_label == 'id_facebook' %}
                name="facebook"
            {% elif field.id_for_label == 'id_twitter' %}
                name="twitter"
            {% elif field.id_for_label == 'id_youtube' %}
                name="youtube"
            {% elif field.id_for_label == 'id_instagram' %}
                name="instagram"
            {% elif field.id_for_label == 'id_password1' %}
                name="password1"
            {% elif field.id_for_label == 'id_password2' %}
                name="password2"
            {% elif field.id_for_label == 'id_review_title' %}
                name="review_title"
            {% endif %}
            {# -----------------------name分岐開始----------------------- #}
            {# -----------------------name分岐終了----------------------- #}
            {% if field.id_for_label == 'id_username' %}
                id="id_username"
            {% elif field.id_for_label == 'id_email' %}
                id="id_email"
            {% elif field.id_for_label == 'id_facebook' %}
                id="id_facebook"
            {% elif field.id_for_label == 'id_twitter' %}
                id="id_twitter"
            {% elif field.id_for_label == 'id_youtube' %}
                id="id_youtube"
            {% elif field.id_for_label == 'id_instagram' %}
                id="id_instagram"
            {% elif field.id_for_label == 'id_password1' %}
                id="id_password1"
            {% elif field.id_for_label == 'id_password2' %}
                id="id_password2"
            {% elif field.id_for_label == 'id_review_title' %}
                id="id_review_title"
            {% endif %}
            {# -----------------------name分岐開始----------------------- #}

            id="{% if field.id_for_label == 'id_username' %}id_username{% elif field.id_for_label == 'id_email' %}id_email{% elif field.id_for_label == 'id_password1' %}id_password1{% elif field.id_for_label == 'id_password2' %}id_password2{% endif %}"
            {% if field.id_for_label == 'id_password1' or field.id_for_label == 'id_password2' %}type="password"{% endif %}
            {% if field.id_for_label == 'id_username' %}readonly{% endif %}
            required
        ></v-text-field>
    {% endif %}

    <div class="form-text-alert-wrapper">
        {% for error in field.errors %}
            <p class="form-text-alert">{{ error }}</p>
        {% endfor %}
    {% if field.help_text %}
            {{ field.help_text|safe }}
    {% endif %}
    </div>
{% endfor %}