{% extends 'base.html' %}

{% block title %} | 新規登録{% endblock %}

{% block content %}
    <section class="top-count">
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl class="login-wrapper">
                    <v-card>
                        <v-container grid-list-md>
                            <p class="headline">新規登録</p>
                            <v-form v-model="valid" method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/create_form.html' %}
                                <v-btn class="m-t-20" type="submit" block color="primary" large>新規登録</v-btn>
                            </v-form>
                            <div class="body-2 text-md-center text-sm-center text-xs-center m-t-30">
                                <ul class="login-link">
                                    <li>既にアカウントをお持ちですか？<a href="{% url 'login' %}">ログイン</a></li>
                                </ul>
                            </div>
                        </v-container>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}