{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
    <v-layout class="top-search" align-center justify-center column wrap>
        <video autoplay loop muted class="top-search-video">
            <source src="{% static 'video/top_back.mp4' %}" type="video/mp4">
        </video>
        <h1 class="top-search-title white--text mb-2 display-2 text-sm-center">空港を探しましょう</h1>
        <v-form class="top-search-form">
            <v-container>
                <v-layout align-start justify-center row fill-height>
                    <v-autocomplete
                            :items="items"
							label="空港名"
							class="top-search-form-input"
							solo
							autocomplete
                    ></v-autocomplete>
                    <v-btn outline color="white" class="top-search-form-search font-weight-bold">検索</v-btn>
                </v-layout>
            </v-container>
        </v-form>
        <p class="top-search-notfind white--text mb-2 body-1 text-sm-center">空港がみつかりませんか？<a href="#">こちら</a>から申請してください</p>
    </v-layout>
    </section>
    <section class="top-count">
        <v-layout column wrap class="my-5" align-center>
            <v-flex xs12 sm4 class="my-3">
                <div class="text-xs-center">
                    <h2 class="headline">世界の空港マニアへ</h2>
                    <span class="subheading">あなたはいくつの空港を巡ったことがありますか？<br />あなたの体験をみんなと共有しませんか？<br />至高の空港を見つけてください</span>
                </div>
            </v-flex>
            <v-flex xs12 class="top-num-counter">
                <v-container grid-list-xl>
                    <v-layout align-center justify-space-around row wrap>
                        <v-flex xs12 md3>
                            <v-card class="elevation-0 transparent">
                                <v-card-text class="text-xs-center">
                                    <v-icon x-large class="blue--text text--lighten-2">local_airport</v-icon>
                                </v-card-text>
                                <div class="text-xs-center display-2">100</div>
                                <v-card-text class="text-xs-center">登録空港数</v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 md3>
                            <v-card class="elevation-0 transparent">
                                <v-card-text class="text-xs-center">
                                    <v-icon x-large class="blue--text text--lighten-2">people</v-icon>
                                </v-card-text>
                                <div class="text-xs-center display-2">2000</div>
                                <v-card-text class="text-xs-center">登録ユーザー数</v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 md3>
                            <v-card class="elevation-0 transparent">
                                <v-card-text class="text-xs-center">
                                    <v-icon x-large class="blue--text text--lighten-2">rate_review</v-icon>
                                </v-card-text>
                                <div class="text-xs-center display-2">234</div>
                                <v-card-text class="text-xs-center">レビュー数</v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs12 md3>
                            <v-card class="elevation-0 transparent">
                                <v-card-text class="text-xs-center">
                                    <v-icon x-large class="blue--text text--lighten-2">trending_up</v-icon>
                                </v-card-text>
                                <div class="text-xs-center display-2">587796</div>
                                <v-card-text class="text-xs-center">全ページビュー数</v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}