{% extends 'base.html' %}

{% block content %}
    <section>
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl class="login-wrapper">
                    <v-card>
                        <v-container grid-list-md>
                            <p class="headline">仮登録受付けメール送信</p>
                            <p>Airport Geekへのご登録ありがとうございます。</p>
                            <p class="form-text-alert">会員登録はまだ完了していません。</p>
                            <p>ご入力いただいたアドレス宛に、仮登録受付のメールを送信いたしました。<br>
                                登録完了用URLを記載しておりますので、そちらをクリックして本登録を完了してください。</p>
                        </v-container>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}