{% extends 'base.html' %}

{% block title %} | パスワード変更完了{% endblock %}

{% block content %}
    <section>
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl class="login-wrapper">
                    <v-card>
                        <v-container grid-list-md>
                            <p class="headline">パスワードの変更完了</p>
                            <p>パスワードの変更が正常に完了しました。<br>ログイン画面よりログインしてください。</p>
                            <a href="{% url 'login' %}">ログイン画面に戻る</a>
                        </v-container>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}