{% extends 'base.html' %}

{% block title %} | パスワードリセットメール送信完了{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-flex uk-flex-column uk-flex-center uk-padding password-reset-done">
        <div class="uk-card original-uk-card-border uk-width-xlarge@s">
            <div class="uk-card-body uk-container-expand">
                <h2 class="uk-card-title">パスワードリセットメール送信完了</h2>
                <p>登録されているメールアドレスへ、パスワードリセットメールを送信しました。<br>
                    メールに記載されているURLからアクセスし、パスワードを変更してください。</p>
                <p>数分経過してもメールが届かない場合は、迷惑メールフォルダも確認してください。</p>
                <a href="{% url 'login' %}" class="uk-button uk-button-primary uk-width-1-1 uk-margin-auto">ログイン画面に戻る</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}