{% extends 'base.html' %}

{% block title %} | パスワード変更完了{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-flex uk-flex-column uk-flex-center uk-padding password-reset-done">
        <div class="uk-card original-uk-card-border uk-width-xlarge@s">
            <div class="uk-card-body uk-container-expand">
                <h2 class="uk-card-title">パスワードの変更完了!</h2>
                <p>パスワードの変更が正常に完了しました。<br>ログイン画面よりログインしてください。</p>
                <a href="{% url 'login' %}" class="uk-button uk-button-primary uk-width-1-1 uk-margin-auto">ログイン画面に戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}