{{ username }}さん、こんにちは

ご登録されているメールアドレスに対して、パスワードリセットのリクエストがありました。
パスワードをリセットする場合は、以下のリンクをクリックしてください。

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

上記リンクをクリックしても何も起きない場合は、URLをコピーしてから貼り付けて利用してください。

万が一、このメールに心当たりがない場合は、そのまま破棄してください。


Airport Geek
{{ protocol }}://{{ domain }}

=======================================================================
※このメールは、システムより自動的に送信されています。
※このメールに返信しないようお願いいたします。
=======================================================================