{% extends 'base.html' %}

{% block title %} | パスワードリセットメール送信完了{% endblock %}

{% block content %}
    <section>
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl class="login-wrapper">
                    <v-card>
                        <v-container grid-list-md>
                            <p class="headline">パスワードリセットメール送信完了</p>
                            <p>登録されているメールアドレスへ、パスワードリセットメールを送信しました。<br>
                                メールに記載されているURLからアクセスし、パスワードを変更してください。</p>
                            <p>数分経過してもメールが届かない場合は、迷惑メールフォルダも確認してください。</p>
                        </v-container>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}