{% extends 'base.html' %}

{% block title %} | パスワードのリセット{% endblock %}

{% block content %}
    <section>
        <v-layout justify-center row wrap fill-height>
            <v-flex xs12 sm12>
                <v-container grid-list-xl class="login-wrapper">
                    <v-card>
                        <v-container grid-list-md>
                            <p class="headline">パスワードのリセット</p>
                            <p>パスワードをリセットします。<br>登録されているメールアドレスを入力してください。</p>
                            <v-form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/login_form.html' %}
                                <v-btn class="m-t-20" type="submit" block color="primary" large>パスワードリセット</v-btn>
                            </v-form>
                        </v-container>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </section>
{% endblock %}